/* add home page styles here */
section {
    padding: 10px;
    margin: 10px;
}

#results-div {
    display: none;
}

.good-results {
    background-color: green;
}

.okay-results {
    background-color: blue;
}

.bad-results {
    background-color: red;
}